<%-include('../partial/header')%>

<%-include('../partial/side')%>

<div class="span9">
    <ul class="breadcrumb">
    <li><a href="index.html">Home</a> <span class="divider">/</span></li>
    <li><a href="products.html">Items</a> <span class="divider">/</span></li>
    <li class="active">Preview</li>
    </ul>	
<div class="well well-small">
	<div class="row-fluid">
			<div class="span5">
			<div id="myCarousel" class="carousel slide cntr">
                <div class="carousel-inner">
                  <div class="item active">
                   <a href="#"> <img src="<%= data[0].pic1%>" alt="" style="width:auto;height:350px;"></a>
                  </div>
                  <div class="item">
                     <a href="#"> <img src="<%= data[0].pic2%>" alt="" style="width:auto;height:350px;"></a>
                  </div>
                  <div class="item">
                    <a href="#"><img src="<%= data[0].pic3%>" alt="" style="width:auto;height:350px;"></a>
                  </div>
                </div>
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
            </div>
			</div>
			<div class="span7">
				<h3><%= data[0].itemName%></h3>
				<hr class="soft"/>
				
				<form class="form-horizontal qtyFrm">
				  <div class="control-group">
					<label class="control-label"><span>Price</span></label>
					<div class="controls">
					<input type="text" class="span6" readonly value="<%=data[0].price%>" >
					</div>
				  </div>
				<div class="control-group"> 
				   <label class="control-label"><span>Qty</span></label>
				   <div class="controls">
					<input type="number" class="span6" id="qty" placeholder="Qty." min="1" value="1"  >
					</div>
				</div> 
				  <div class="control-group">
					<label class="control-label"><span>Color</span></label>
					<div class="controls">
					  <select class="span11">
						  <option>Red</option>
						  <option>Purple</option>
						  <option>Pink</option>
						  <option>Red</option>
						</select>
					</div>
				  </div>
				  <div class="control-group">
					<label class="control-label"><span>Materials</span></label>
					<div class="controls">
					  <select class="span11">
						  <option>Material 1</option>
						  <option>Material 2</option>
						  <option>Material 3</option>
						  <option>Material 4</option>
						</select>
					</div>
				  </div>
				  <!-- <h4>100 items in stock</h4>
				  <p>Nowadays the lingerie industry is one of the most successful business spheres.
				  Nowadays the lingerie industry is one of ...
				  <p> -->
				  <input type="hidden" value="<%= data[0]._id%>" class="pid" >
				  <button type="submit" class="shopBtn"><span class=" icon-shopping-cart"></span> Add to cart</button>
				</form>
			</div>
			</div>
				<hr class="softn clr"/>


            <ul id="productDetail" class="nav nav-tabs">
              <li class="active"><a href="#home" data-toggle="tab">Product Details</a></li>
            </ul>
            <div id="myTabContent" class="tab-content tabWrapper">
            <div class="tab-pane fade active in" id="home">
			  <h4>Product Information</h4>
                <table class="table table-striped">
				<tbody>
				<tr class="techSpecRow"><td class="techSpecTD1">Color:</td><td class="techSpecTD2"><%= data[0].color%></td></tr>
				<tr class="techSpecRow"><td class="techSpecTD1">Brand:</td><td class="techSpecTD2"><%= data[0].brand%></td></tr>
				<tr class="techSpecRow"><td class="techSpecTD1">Category:</td><td class="techSpecTD2"><%= data[0].category%></td></tr>
				<tr class="techSpecRow"><td class="techSpecTD1">Price:</td><td class="techSpecTD2"><%= data[0].price%></td></tr>
				<tr class="techSpecRow"><td class="techSpecTD1">ItemName:</td><td class="techSpecTD2"><%= data[0].itemName%></td></tr>
				<tr class="techSpecRow"><td class="techSpecTD1">Description:</td><td class="techSpecTD2"><%= data[0].desc%></td></tr>
			    </tbody>
				</table>
				<!-- <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
				<p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
				 -->
				 <!-- <textarea name="desc" cols="30" rows="10"><%= data[0].desc%></textarea>
				 --> 
				 
			</div>
        </div>

</div>
</div>
</div> 
</div> 
<!-- Body wrapper -->
<%-include('../partial/footer')%>